body {
    height: 100vh;   
}
h1 {
    font-size: 20px;
    border: 2px solid black;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}
button {
    height: 25px;
    border-radius: 10px;
    border: 2px solid black;
    
    
}
.parent {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    border: 2px solid black;
    height: 250px;
    width: 250px;
}