body {
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  margin: 0px;
  background-image: url("snowflakes.jpg");
  background-repeat: repeat;
}

h1 {
  font-size: 30px;
  color: #ff392f;
  font-family: 'Ranchers', cursive;
  margin-left: 10px;
  letter-spacing: 1px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #E8E8E8;
}

button:hover {
  cursor: pointer;
}

.checkout-button {
  font-size: 30px;
  border-radius: 10px;
  background-color: green;
  color: white;
  margin: 10px;
}

#products {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  justify-content: space-around;
  padding: 10px;
}

.card {
  border: 10px solid #098b3b;
  border-style: double;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px;
  display: flex;
  align-content: center;
  flex-direction: column;
  background: rgba(252, 252, 252, 0.9);
  opacity: 1;
}

.name {
  margin-bottom: 3px;
  font-family: 'Ranchers', cursive;
  letter-spacing: 1px;
  font-size: 18px;
} 

.category {
  margin-bottom: 15px;
  text-align:center;
  font-size: 11px;
  padding-top: 10px;
}

.price {
  text-align: center;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: bold;
}

.price:before {
    content: '$';
}

.description {
  font-size: 13px;
}

.card img {
  height: auto;
  width: 100%;
}

.addToCart {
  border-radius: 10px;
  background-color: #098d3c;
  padding: 10px;
  border: none;
  color: #fff;
}

.shopping-cart {
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow-y:auto;
  overflow-x:hidden;
  padding: 15px 30px;
}


.product {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  padding: 15px 0px;
}

.product img {
  max-width:100px;
}

.product-details {
  padding-left: 15px;;
}

.product-title {
  font-size: 14px;
  text-align: left;
  font-weight:bold;
}

.product-category {
  font-size: 10px;
  text-align: left;
  display:flex;
  flex-basis: 30%;
}

.product-description {
  font-size: 12px;
  text-align: left;
}

.product-price {
  
}

#totals {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 340px;
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 30px;  
}

#totals div {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

h2 {
  font-size: 30px;
  color: #ff392f;
  font-family: 'Ranchers', cursive;
  letter-spacing: 3px;
  text-align: center;
}

.creditOpt {
  display: flex;
  width: 350px;
  height: 300px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(178, 178, 190);
  margin: 20px 0px;
  padding: 15px;
}

#simplify-payment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: flex;
  justify-content: center;
}

#cc-cvc {
  width: 80px;
}

#process-payment-btn {
  margin-top: 15px;
}

.hide {
  display: none;
}

.show {
  display: block!important;
}

.rPopUp {
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow-y:auto;
  overflow-x:hidden;
  padding: 15px 30px;
}

.rPopUp h2 {
  color: green;
}

.closeBtn {
  display: flex;
  justify-content: flex-end;
  padding: 25px 25px 0px 0px;
  cursor: pointer;
  font-size: 33px;
}

#rTotals {
  display: flex;
  flex-direction: column;
  padding: 100px 0px;
}

#rTotals div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

@media only screen and (min-width:600px) {
  #products div {
      flex-basis: 40%;
  }
}

@media only screen and (min-width:900px) {
  #products div {
      flex-basis: 28%;
  }
  .shopping-cart {
    position: fixed;
    background-color: #fff;
    width: 60%;
    top: 10%;
    bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
    overflow-y:auto;
    overflow-x:hidden;
    border: 2px solid red;
  }
  .rPopUp {
    position: fixed;
    background-color: #fff;
    width: 60%;
    top: 10%;
    bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
    overflow-y:auto;
    overflow-x:hidden;
    border: 2px solid green;
  }
}

@media only screen and (min-width:1150px) {
  #products div {
      flex-basis: 20%;
  }
}

@media only screen and (min-width:1300px) {
  #products div {
      flex-basis: 15%;
  }
 
}

.cash-transaction {
  border: 1px solid black;
  border-radius: 5%;
  background-color: lightgray;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  width: fit-content;
  padding: 20px;
  margin-bottom: 30px;
}

.cash-transaction{
  display:none;
}

.showMe {
  display: block;
}